.row {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

html {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url("../images/confetti.png"), linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/header-bg.jpg");
  background-repeat: repeat-x, no-repeat, repeat;
  background-position: center top -20em, center, center;
  background-size: cover, cover, 100%;
  background-origin: content-box, content-box, content-box;
}

.phone {
  font-size: 3em;
  font-weight: bold;
  color: #202050;
  padding: 0.5em 0;
}

.logo-block {
  font-size: 10.8vw;
  margin-bottom: 0.4em;
}

.logo-block img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -0.5em;
}

.slogan1 {
  color: #202050;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.amount {
  color: #248abd;
  font-size: 2.05em;
  font-weight: bold;
  line-height: 0.9em;
}

.slogan2 {
  color: #202050;
  font-size: 0.58em;
  font-weight: bold;
  text-transform: uppercase;
}

.counter-line {
  background-color: #202050;
  color: #fff;
}

.counter-block {
  font-size: 1rem;
  margin: 1em;
}

.counter-block .counter-docket {
  font-size: 1.6em;
}

.counter-block .counter {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 1em;
}

[data-role="seconds"]::after {
  content: 'Seconds';
}

[data-role="minutes"]::after {
  content: 'Minutes';
}

[data-role="hours"]::after {
  content: 'Hours';
}

[data-role="days"]::after {
  content: 'Days';
}

.counter-line .counter-block .counter > div {
  display: inline-block;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    font-size: 0.35em;
    top: 2.5em;
    right: 0;
  }
}

.main-form {
  font-size: 2.8vw;
  background-color: #f8f8f7;
  color: #000;
  border-radius: 5px;
  overflow: hidden;
}

.main-form .form-head {
  background-color: #248abd;
  color: #fff;
  font-weight: bold;
  padding: 1em;
}

.main-form .form-head .form-header {
  font-size: 1.8em;
  text-transform: uppercase;
}

.main-form .form-head .form-sub-header {
  font-size: 1.05em;
}

.main-form .form-fields {
  padding: 1em 1em 0 1em;
}

.main-form .form-fields input {
  display: block;
  padding: 0.6em;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;
}

.main-form .form-fields input:not(:last-child) {
  margin-bottom: 1em;
}

.main-form .form-fields input[type="submit"] {
  background-color: #da8344;
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 3px 0 #9f5224;
  cursor: pointer;
}

.main-form .form-fields input::placeholder {
  color: #000;
}

.main-form label:first-child {
  margin-right: 1em;
}

.main-form .form-fields .when-call label {
  font-size: 1em;
}

.main-form .form-fields .when-call label span {
  font-size: 1em;
  color: #000;
}

.main-form .form-footer {
  padding: 1em;
}

main {
  background-color: #248abd;
  color: #fff;
}

.slider1-block {
  padding: 2em;
}

.slider2-block {
  padding: 2em;
}

.slider2-block .slider-wrapper {
  padding: 0 2em;
}

.slider1-block .slider1-docket {
  font-size: 2em;
  margin-top: 5em;
  margin-bottom: 1em;
}

.slider2-block .slider2-docket {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: -1em;
}

.slider1-block .control-prev {
  font-size: 5rem;
  position: absolute;
  line-height: 1.08em;
  padding-left: 0.17em;
  top: calc(50% - 0.5em);
  left: -0.5em;
  color: #da8344;
  background-color: #fff;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  z-index: 9999;
}

.slider1-block .control-next {
  font-size: 5rem;
  position: absolute;
  line-height: 1.08em;
  padding-left: 0.24em;
  top: calc(50% - 0.5em);
  right: -0.5em;
  color: #da8344;
  background-color: #fff;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  z-index: 9999;
}

.slider2-block .control-prev {
  font-size: 5rem;
  position: absolute;
  line-height: 1.08em;
  padding-left: 0.17em;
  top: calc(50% - 0.5em);
  left: -0.5em;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  z-index: 9999;
}

.slider2-block .control-next {
  font-size: 5rem;
  position: absolute;
  line-height: 1.08em;
  padding-left: 0.24em;
  top: calc(50% - 0.5em);
  right: -0.5em;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  z-index: 9999;
}

.control-next:hover {
  cursor: pointer;
}

.control-prev:hover {
  cursor: pointer;
}

#review-slider {
  height: 10em;
}

.bright-star {
  color: #e5dd1c;
}

.dim-star {
  color: #858585;
}

#review-slider .fa-star {
  display: inline-block;
  font-size: 1.3em;
  padding: 0 0.2em;
}

.front-link-block {
  font-size: 1.25rem;
}

a.front-link {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  padding: 1.5em 2em;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 2.5em;
  margin-bottom: 6em;
}

a.front-link:hover {
  color: #e5dd1c;
  border-color: #e5dd1c;
}

/* --m-- Medium Devices, Desktops  */
@media only screen and (min-width: 600px) {
  .logo-block {
    font-size: 5.2vw;
  }

  .logo-block img {
    width: 70%;
  }

  .main-form {
    position: absolute;
    width: 100%;
    top: -45vw;
    right: -100%;
    font-size: 1.4vw;
  }

  header {
    background-position: center top 180%, center, center;
  }

  .counter-block {
    font-size: 0.7rem;
  }

  .slider1-block {
    margin-top: 15em;
  }

  .slider2-block .slider-wrapper {
    padding: 0 6em;
  }

  .slider2-block .control-next {
    right: -0.1em;
  }

  .slider2-block .control-prev {
    left: -0.1em;
  }

  .slider2-block .slider2-docket {
    margin-bottom: -3em;
  }
}

/* --l-- Large Devices, Wide Screens */
@media only screen and (min-width: 992px) {
  .logo-block {
    font-size: 4.2vw;
  }

  .logo-block img {
    width: 50%;
  }

  .main-form {
    top: -36vw;
    font-size: 1.1vw;
  }

  header {
    background-position: center top 150%, center, center;
  }

  .counter-block {
    font-size: 1rem;
  }

  .slider2-block .slider-wrapper {
    padding: 0 10em;
  }

  .slider2-block .control-next {
    right: 0.5em;
  }

  .slider2-block .control-prev {
    left: 0.5em;
  }
}

/* --xl-- Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .logo-block {
    font-size: 4.4rem;
  }

  .main-form {
    top: -31.5em;
    font-size: 1.2rem;
  }

  header {
    background-position: center top 140%, center, center;
  }

  .slider2-block .slider-wrapper {
    padding: 0 16em;
  }

  .slider2-block .control-next {
    right: 1.5em;
  }

  .slider2-block .control-prev {
    left: 1.5em;
  }
}

@media only screen and (min-width: 1900px) {
  header {
    background-position: center top 100%, center, center;
  }
}
